<!-- src/views/index.ejs -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Underfined</title>
    <link rel="stylesheet" href="/css/estilo.css"> 

 
</head>

<body>
    <!-- Container -->
    <div class="container">
        
        <%- include('partials/header') %>

        <!-- Conteúdo principal -->
        <div class="main-content">
            <!-- Sidebar -->
            <!-- <div class="sidebar">


            </div> -->

            <!-- Conteúdo -->
            <div class="content">
                <%- include('partials/autenticar') %>
            </div>
        </div>

        <%- include('partials/footer') %>
    </div>

    <script src="/js/popup.js"></script>
</body>
</html>



