<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Teste</title>
</head>
<body>
  <%- include('layout') %>

  <h1>Este é o layout principal</h1>
  <div id="content">
    <h2>Página de Teste</h2>
    <p>Conteúdo específico da página de teste.</p>
    <p>Valor da variável "teste:" <%= teste %></p> <!-- Aqui está a variável sendo utilizada -->
  </div>

</body>
</html>