<!-- Cabeçalho -->
<header>
    <% if (athleteName) { %>
        <h1>Olá, <%= athleteName %>!</h1>
    <% } else { %>
        <h1>Necesário efetuar o login!</h1>
    <% } %> 
</header>

<!-- Navegação -->
<nav>
    <a href="/activities">Atividades</a>
    <a href="/logout">Logout</a>
    <!-- <a href="#">Serviços</a>
    <a href="#">Contato</a> -->
</nav>