<!-- Pop-up -->
<div id="popup" class="popup">
    <div class="popup-content">
        <h5>Informações</h5>
        <p id="popupText"></p>
        <button style="display: none" onclick="closePopup()">Fechar</button>
    </div>
</div>